@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.search input {
    border-radius: 10px;
    border: none;
    padding-left: 5px;
    background-color: #dbdbdb;
}

.hero-container {
    background: radial-gradient(#fff, rgb(0, 100, 100));
}

.nav-container {
    display: flex;
    justify-content: space-around;
    padding: 0 30px;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.logo {
    display: block;
    height: 50px;
    cursor: pointer;
    width: 75%;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 30px;
}

nav ul {
    display: flex;
}

li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    padding: 20px;
    transition: 1s;
    font-weight: bold;
}

nav ul li a:hover {
    color: #fff;
}

.row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.col {
    flex-basis: 40%;
    min-width: 300px;
    padding: 50px;
}


.col img {
    display: block;
    object-fit: cover;
    width: 100%;
}

.hero-image {
    display: flex;
    justify-content: center;
}

.col a {
    color: #000;
}

.button {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background: rgb(0, 255, 255);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 1s;
    border: 2px black solid;

}

.button:hover {
    background: rgb(0, 100, 100);
}

.categories-container,
.featured-container {
    margin: 70px;
    text-align: center;

}

.col2 {
    flex-basis: calc((100% - 180px) /3);
    margin: 30px;
}

.col2 img {
    width: 100%;
    display: block;
}

.col3 img {
    width: 100%;
}

.categories,
.featured {
    margin-bottom: 70px;
    display: inline-block;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.featured {
    font-size: 50px;
}

.categories {
    margin-bottom: 40px;
    font-size: 50px;
}

.featured-container {
    margin: 70px;
}

.col3 {
    flex-basis: calc((100% - 120px) /3);
    margin: 20px;
}

.row2 {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
}

/* footer */
.row-foot {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    border-top: #000 solid 2px;
    background-color: #dbdbdb;
}

.col4 {
    flex-basis: calc((100% - 300px) /3);
    margin: 50px;
    text-align: center;
}

.col4 img {
    width: 250px;
}

.col4_align h3,
.col4_align ul,
.col4 ul li a {
    width: 107px;
    text-align: left;
    text-decoration: none;
    color: #000;
}

.col4_align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* //////////////////////////////////////////////////////////////////////////// */
/* about page css */


.about {
    width: 100%;
    padding: 78px 0px;
    background-color: white;
}

.about img {
    height: auto;

    width: 360px;
    margin-top: 89px;
    margin-bottom: 90px;

}

.about-text {
    width: 550px;
    margin-left: 336px;

}

.aboutLi {
    list-style-type: disc;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text {
    width: 554px;
    margin-left: 290px;
}

.about-text h1 {
    color: black;
    font-size: 55px;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-left: 79px;
    margin-top: 118px;
}

.about-text h5 {
    color: #191919;
    font-size: 15px;
    text-transform: capitalize;
    margin-bottom: 25px;
    margin-left: 82px;
    margin-right: 37px;
    letter-spacing: 2px;
}

span {
    color: rgb(0, 200, 200);

}

.about-text p {
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    margin-left: 84px;
}

.btnAbout {
    padding-left: 20px;
}

button {
    background: rgb(0, 255, 255);
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    margin-left: 108px;
    border-radius: 30px;
    transition: .4s;
}

button:hover {
    background: transparent;
    border: 2px solid rgb(0, 100, 100);
    cursor: pointer;

}

/* //////////////////////////////////////////////////////////////////////////// */
/* contact */
.heading {
    padding: 0;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: #000;
}

.form-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 25px;
}

label {
    display: block;
    color: #000;
    margin-top: 1px;
    padding-top: 10px;
}

#fname input,
#lname input {
    padding: 5px;

}

textarea {
    resize: vertical;
    width: 100%;
    min-height: 250px;
    max-height: 300px;
}

#contact-us h1 {
    margin-top: 20px;

}

form {
    width: 50%;
    border: 1px solid #000;
    padding: 15px 20px;
    border-radius: 8px;
}

form input {
    width: 100%;
}

.btns {
    display: flex;
}

.btns input[type="submit"] {
    margin-right: 5px
}

.btns input[type="reset"] {
    margin-left: 5px
}

/* //////////////////////////////////////////////////////////////////////////////////// */
/* products page */

/* products */
.row_prod {
    display: flex;
    flex-wrap: wrap;
}

.col_prod img {
    width: 65%;
}

.col_prod {
    flex-basis: calc((100% - 120px) /3);
    margin: 20px;
}

.featured-container {
    text-align: center;
    margin: 100px;
}

.ProductLink {
    display: contents;
}

.featured {
    margin-bottom: 70px;
    font-size: 50px;
    display: inline-block;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

/* //////////////////////////////////////////////////////////////////////////////////// */
/* product details */

/* product heading */
.product-heading {
    display: flex;
    background-color: yellowgreen;
    justify-content: center;
    /* padding-top: 100px; */
    /* margin-left: 239px; */
    text-align: left;
    font-size: 35px;
}

.ProductLink {
    text-decoration: none;
    color: #000;
}

.row_prod_det {
    display: flex;
    justify-content: space-evenly;
}

.col_prod_det img {
    display: block;
    width: 100%;
}

.details {
    width: 200px;
}

/* review */
.review {
    margin: 100px 0;
    border: 2px solid #000;
    border-radius: 20px;
}

.review h3 {
    /* margin-bottom: 30px; */
    padding-left: 5px;
    border-bottom: 2px solid #000;
}

.col2_prod_det {
    margin-bottom: 10px;
}

.row2_prod_det {
    padding: 5px;
}

.button {
    display: inline-block;
    color: #000;
    text-decoration: none;
    background: rgb(0, 255, 255);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 10px;
    transition: 1s;
    border: 2px black solid;
}

.button:hover {
    background: rgb(0, 100, 100);
}

.container-full {
    width: 100%;
}

.l-bg {
    background-color: #eee;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.pad {
    padding: 50px 0;
    margin-top: 50px;
}

.margin-top {
    margin-top: 50px;
}

/* common */
.page-header {
    background: rgb(0, 100, 100);
}

/* swiper */
/* .swiper {
    width: 100%;
    height: 100%;
} */

/* .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff; */

/* Center slide text vertically */
/* display: flex;
    justify-content: center;
    align-items: center;
} */

/* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

/*  */
@media (max-width: 799px) {

    .col2,
    .col3 {
        width: 50%;
    }
}

@media (max-width: 576px) {

    .col2,
    .col3 {
        width: 100%;
    }
}